PORT=3021

URI_MONGODB=mongodb://localhost:27017/admin-ks-in6av

CLOUDINARY_CLOUD_NAME=dmzpqylve
CLOUDINARY_API_KEY=544624595956484
CLOUDINARY_API_SECRET=vEO5tzMIuiGAV9EYNMlF1eH3Eh4
CLOUDINARY_BASE_FOLDER=https://res.cloudinary.com/dmzpqylve/image/upload/v1770923104/kinal_sports_in6av
CLOUDINARY_DEFAULT_AVATAR_NAME=kinal_sports_zqkmek.jpg

JWT_SECRET=+P]0aPtzQyvtV]&}cTOD9O|5zo,J3b3m
JWT_EXPIRES_IN=1h
JWT_ISSUER=KinalSports
JWT_AUDIENCE=KinalSports

# Para desconectar todo
NODE_TLS_REJECT_UNAUTHORIZED=0